.panel_wrapper {
	max-width: 260px;
	width: 100%;
	min-height: 100vh;
	.panel {
		height: 100%;
		box-sizing: border-box;
		background-color: #D8E7F7;
		padding: 48px 24px 0 47px;
		.links_wrapper {
			display: flex;
			flex-flow: column;
			a {
				color: #041242;
				opacity: 0.5;
				font-size: 12px;
				margin: 12px 0;
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					opacity: 1;
				}
			}
			.active {
				opacity: 1;
			}
		}
	}
}
