.custom_check_wrapper{
  display: flex;

  form{
    width: 100%;
    >div{
      margin-bottom: 20px;
    }
  }
}

.checkbox_wrapper{
  display: flex;
  align-items: center;
  margin-top: 20px;
  .input_error{
    display: flex;
    align-items: center;
  }
  span{
    color: #422D22;
    padding-left:5px;
    font-size: 14px;
    line-height: 19px;
  }

  input[type=checkbox] {
    -moz-appearance: initial!important;
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    height: 0px;
    width: 19px;
    //border: 1px solid #9EA3A7;
    border-radius: 2px;
  }
  input[type=checkbox]:checked:after {
    content: "";
    position: absolute;
    left: 0px;
    top: -11px;
    background: url("../../assets/image/CustomCheck/checkbox_off.png");
    width: 19px;
    height: 19px;
  }
  input[type=checkbox]:after {
    content: "";
    position: absolute;
    left: -0px;
    top: -11px;
    background: url("../../assets/image/CustomCheck/checkbox_on.png");
    width: 19px;
    height: 19px;
  }
}

.radio_box_wrapper{
  margin: 7px 0;
  display: flex;
  align-items: center;
  .input_error{
    display: flex;
    align-items: center;
  }
  span{
    color: #422D22;
    padding-left:5px;
    font-size: 14px;
    line-height: 19px;
  }

  input[type=radio] {
    -moz-appearance: initial!important;
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    height: 0px;
    width: 17px;
    //border: 1px solid #9EA3A7;
    border-radius: 2px;
  }
  input[type=radio]:checked:after {
    content: "";
    position: absolute;
    left: 0px;
    top: -9px;
    background: url("../../assets/image/CustomCheck/radio_off.png");
    width: 17px;
    height: 17px;
  }
  input[type=radio]:after {
    content: "";
    position: absolute;
    left: -0px;
    top: -9px;
    background: url("../../assets/image/CustomCheck/radio_on.png");
    width: 17px;
    height: 17px;
  }
}

