.button_wrapper{
  >div{
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
    width: 50%;
  }
  .title{
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.btn_line{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #1A1A1A;
  line-height: 13px;
  font-size: 12px;
  height: 48px;
  width: 150px;
  cursor: pointer;
  border: 1px solid #8494B9;
  background: transparent;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(132, 148, 185, 0.2);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.1s linear;
  }
  &:hover{
    &:before{
      width: 100%;
    }
  }
  &:disabled {
    opacity: 0.6;
    //box-shadow: 0 8px 32px -8px rgba(0, 34, 24, 0.35);
  }
}

.btn_color{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #1A1A1A;
  font-size: 12px;
  height: 48px;
  width: 150px;
  cursor: pointer;
  border: 1px solid #8494B9;
  background: transparent;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  &:hover{
    background: #8494B9;
    color: #ffffff;
  }
}

.btn_opacity{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  height: 48px;
  width: 150px;
  cursor: pointer;
  border: 1px solid transparent;
  background: #8494B9;
  color: #ffffff;
  transition: all 0.3s linear;
  position: relative;
  &:hover{
    opacity: 0.7;
  }
}

.btn_scale{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  height: 48px;
  width: 150px;
  cursor: pointer;
  border: 1px solid transparent;
  background: #8494B9;
  color: #ffffff;
  transition: all 0.3s linear;
  position: relative;
  &:hover{
    transform: scale(1.2);
  }
}

.btn_rotate{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  height: 48px;
  width: 150px;
  cursor: pointer;
  border: 1px solid transparent;
  background: #8494B9;
  color: #ffffff;
  transition: all 0.3s linear;
  position: relative;
  &:hover{
    transform: rotate(5deg);
  }
}

.btn_border_color{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  height: 48px;
  width: 150px;
  cursor: pointer;
  border: 1px solid transparent;
  background: #8494B9;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  &:hover{
    border: 1px solid #8494B9;
    color: #1A1A1A;
    background: transparent;
  }
}

.btn_scale_border {
  border: none;
  background-color:  #8494B9;
  color:  #ffffff;
  width: 150px;
  height: 48px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  &:hover{
    background-color: #000d30;
    color: #ffffff;
    &:before{
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
}


.pulse {
  width: 150px;
  height: 48px;
  font-size: 12px;
  background: transparent;
  cursor: pointer;
  border: 1px solid #8494B9;
  -webkit-box-shadow: 0px 0px 0px 0px #8494B9;
  -moz-box-shadow: 0px 0px 0px 0px #8494B9;
  box-shadow: 0px 0px 0px 0px #8494B9;
  &:hover {
    animation: pulse 0.5s;
    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(132, 148, 185,0.8);
      }
      25% {
        -webkit-box-shadow: 0px 0px 10px 5px rgba(132, 148, 185,0.6);
      }
      50% {
        -webkit-box-shadow: 0px 0px 10px 10px rgba(132, 148, 185,0.4);
      }
      75% {
        -webkit-box-shadow: 0px 0px 10px 15px rgba(132, 148, 185,0.2);
      }
      100% {
        -webkit-box-shadow: 0px 0px 10px 20px rgba(132, 148, 185,0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0px 0px 0px 0px rgba(132, 148, 185,0.8);
        box-shadow: 0px 0px 0px 0px rgba(132, 148, 185,1);
      }
      25% {
        -moz-box-shadow: 0px 0px 10px 5px rgba(132, 148, 185,0.6);
        box-shadow: 0px 0px 10px 5px rgba(132, 148, 185,0.7);
      }
      50% {
        -moz-box-shadow: 0px 0px 10px 10px rgba(132, 148, 185,0.4);
        box-shadow: 0px 0px 10px 10px rgba(132, 148, 185,0.7);
      }
      75% {
        -moz-box-shadow: 0px 0px 10px 15px rgba(132, 148, 185,0.2);
        box-shadow: 0px 0px 10px 15px rgba(132, 148, 185,0.7);
      }
      100% {
        -moz-box-shadow: 0px 0px 10px 20px rgba(132, 148, 185,0);
        box-shadow: 0px 0px 10px 20px rgba(132, 148, 185,0);
      }
    }
  }
}


