.custom_input_wrapper_eye {
  width: 100%;
  margin-bottom: 30px!important;
  &:hover{
    .custom_input_outline{
      border-color: #1C2225;
    }
  }
  .custom_input_label {
    color: #373F51;
    opacity: 0.3;
    font-size: 14px;
    transform: translate(20px, 19px) scale(1);
    &.custom_input_label_focused {
      color: #373F51;
      color: rgba(255,255,255,0.72);
    }
    &.custom_input_label_active {
      color: #373F51;
      transform: translate(13px, -6px) scale(0.75);
    }
    &.custom_input_label_error {
      color: #D0021B;
    }
  }
  .custom_input {
    font-family: "Akrobat Regular", sans-serif;
    background-color: #FFFFFF;
    color: #1A1A1A;
    font-size: 12px;
    border-radius: 0px;
    &:focus {
      background-color: #FFFFFF;
    }
    input {
      height: 50px;
      padding: 0px 20px;
    }
    .custom_input_outline {
      border-color: #C2D1D9;
      legend {
      }
    }
    &.custom_input_active{
      border-color: #D0021B!important;
    }

    &.custom_input_focused {
      background-color: #FFFFFF;
      .custom_input_outline {
        border: 1px solid #1C2225;
      }
    }

    &.custom_input_error, &.custom_input_error:hover {
      .custom_input_outline {
        border-color: #D0021B!important;
      }
    }
    &.custom_input_disabled {
      color: #334150;
    }
  }
  .custom_input_adorned_end {
    padding-right: 5px;
    & > div:last-of-type {
      margin-right: 8px;
      span {
        color: #C2D1D9;
        position: absolute;
        &.error_empty {
          right: 0;
          width: 100%;
          height: 15px;
          top: -10px;
        }
      }
      svg {
        fill: #D0021B;
        cursor: pointer;
      }
      .password_type_btn {
        padding: 0;
        width: 25px;
        height: 25px;
        &:hover {
          background-color: transparent;
        }
        svg {
          fill: #C2D1D9;
        }
      }
    }
  }
  .custom_input_adorned_start {
    & > div:first-of-type {
      margin-right: 0;
      span {
        color: #C2D1D9;
      }
    }
  }
}