//@font-face {
//  font-family: "MontBold";
//  src: url('../assets/fonts/Mont-Bold.ttf') format("truetype");
//}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic-ext');


@import "./reset";
@import "./base";
@import "./variables";