.pagination-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 24px 0 32px;
  border-top: 1px solid rgba(55, 63, 81, 0.1);
}

.pagination-list {
  display: flex;
  li {
    border-radius: 2px;
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    &:hover{
      background: rgba(132, 148, 185, 0.1);
    }
    a{
      font-family: "MontSemiBold",sans-serif;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0 5px;
      box-sizing: border-box;
    }
  }
}


.pagination-link {
  cursor: pointer;
  background: transparent;
  color: #8494B9;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  height: 32px;
  min-width: 32px;
  font-size: 14px;
  min-width: 32px;
  &.pagination-link-active {
    border-radius: 2px;
    background: #8494B9;
    color: #ffffff;
    &:hover{
      opacity: 0.7;
    }
  }
}

.pagination-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  a {
    cursor: pointer;
    background: transparent;
    height: 32px;
    width: 32px;
    color: #8494B9;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
  }
}
.next, .previous {
  margin: 0;

  &.disabled {
    &:hover{
      background: transparent;
    }
    a {
      opacity: 0.5;
      cursor: not-allowed;

    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 20px;
      fill: #8494B9;
    }
  }
}

