.custom_input_wrapper {
  display: block;
  width: 100%;
  margin-bottom: 30px!important;
  &:hover{
    .custom_input_outline{
      border-color: #1C2225;
    }
  }
  .custom_input_label {
    font-family: "MontRegular", sans-serif;
    color: #373F51;
    opacity: 0.3;
    font-size: 14px;
    transform: translate(20px, 19px) scale(1);
    transition: all 0.1s linear;
    &.custom_input_label_focused {
      color: #373F51;
      opacity: 1;
      font-family: "MontSemiBold", sans-serif;
    }
    &.custom_input_label_active {
      font-family: "MontSemiBold", sans-serif;
      color: #373F51;
      opacity: 1;
      transform: translate(0px, -14px) scale(0.75);
    }

  }
  .custom_input {
    font-family: "MontRegular", sans-serif;
    background-color: #FFFFFF;
    color: #1A1A1A;
    font-size: 12px;
    border-radius: 0;
    &:focus {
      background-color: #FFFFFF;
    }
    input {
      height: 50px;
      padding: 0px 20px;
    }
    .custom_input_outline {
      border-color: rgba(55, 63, 81, 0.3);
      legend {
        width: 0!important;
      }
    }
    &.custom_input_active{
      border-color: #D0021B!important;
    }
    &.custom_input_focused {
      background-color: #FFFFFF;
      .custom_input_outline {
        border: 1px solid #1C2225;
      }
    }
    &.custom_input_error, &.custom_input_error:hover {
      .custom_input_outline {
        border-color: #D0021B!important;
      }
    }

  }
}

.error_text{
  color: #D0021B;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 10px;
  line-height: 13px;
  display: block;
}