.auth_container {
  width: 100%;
  min-height: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    width: 500px;
    position: relative;
  }
}

.auth_bg {
  background: url("../../assets/image/auth_bg.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.auth_block_head{
  font-family: "MontSemiBold",sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 42px;
  padding-bottom: 15px;
}

.auth_btn_wrapper{
  display: flex;
  align-items: center;
  .default_button_wrapper{
    margin-right: 20px;
  }
  .MuiSvgIcon-root{
    cursor: pointer;
    >path:last-of-type{
      fill: red
    }
  }
}

.auth_block_descriptions{
  font-family: "MontBook",sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 56px;
}

.auth_content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.auth-box {
  width: 100%;
  height: 100%;
  display: flex;
  & > :first-child {
    width: 40%;
  }
  & > :last-child {
    width: 60%;
    background-color: #ffffff;
  }
}

